---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v2/business/ohana-seattle-2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="YyEMdut41--kJVxTsOnNqA", oauth_nonce="7cc735d619c8a0bbb82d15b47ed08fe1",
        oauth_signature="68i918uYeiyYAzWcdYy3m4Ov%2BEQ%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1463974921", oauth_token="1pKD5WOtU89W8rorhjxCO77B_TA7-7nK",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Node:
      - api_com
      - web64-r7-sfo2
      X-Mode:
      - ro
      X-Proxied:
      - extlb7-r10-sfo2
    body:
      encoding: ASCII-8BIT
      string: '{"is_claimed": true, "rating": 3.5, "mobile_url": "http://m.yelp.com/biz/ohana-seattle-2?utm_campaign=yelp_api\u0026utm_medium=api_v2_business\u0026utm_source=YyEMdut41--kJVxTsOnNqA",
        "rating_img_url": "https://s3-media1.fl.yelpcdn.com/assets/2/www/img/5ef3eb3cb162/ico/stars/v1/stars_3_half.png",
        "review_count": 631, "name": "Ohana", "rating_img_url_small": "https://s3-media1.fl.yelpcdn.com/assets/2/www/img/2e909d5d3536/ico/stars/v1/stars_small_3_half.png",
        "url": "http://www.yelp.com/biz/ohana-seattle-2?utm_campaign=yelp_api\u0026utm_medium=api_v2_business\u0026utm_source=YyEMdut41--kJVxTsOnNqA",
        "categories": [["Japanese", "japanese"], ["Hawaiian", "hawaiian"], ["Sushi
        Bars", "sushi"]], "menu_date_updated": 1441961081, "reviews": [{"rating":
        4, "excerpt": "I come for the vibe, not really the food. With that being said,
        the SPAM MUSUBI and POKE are still very much worth trying. Both are available
        on the HH...", "time_created": 1458791054, "rating_image_url": "https://s3-media4.fl.yelpcdn.com/assets/2/www/img/c2f3dd9799a5/ico/stars/v1/stars_4.png",
        "rating_image_small_url": "https://s3-media4.fl.yelpcdn.com/assets/2/www/img/f62a5be2f902/ico/stars/v1/stars_small_4.png",
        "user": {"image_url": "http://s3-media4.fl.yelpcdn.com/photo/dHgUxrrrDoxA-XrQTPVoEw/ms.jpg",
        "id": "3r8hRIiEKkmkQjE1xDrU3A", "name": "Jamie L."}, "rating_image_large_url":
        "https://s3-media2.fl.yelpcdn.com/assets/2/www/img/ccf2b76faa2c/ico/stars/v1/stars_large_4.png",
        "id": "yX_d6Xkqx7km8GtKi1H6HA"}], "phone": "2069569329", "snippet_text": "I
        come for the vibe, not really the food. With that being said, the SPAM MUSUBI
        and POKE are still very much worth trying. Both are available on the HH...",
        "image_url": "https://s3-media1.fl.yelpcdn.com/bphoto/bdP8-Xy2leqilMajcQW7Fw/ms.jpg",
        "snippet_image_url": "http://s3-media4.fl.yelpcdn.com/photo/dHgUxrrrDoxA-XrQTPVoEw/ms.jpg",
        "display_phone": "+1-206-956-9329", "rating_img_url_large": "https://s3-media3.fl.yelpcdn.com/assets/2/www/img/bd9b7a815d1b/ico/stars/v1/stars_large_3_half.png",
        "menu_provider": "single_platform", "id": "ohana-seattle-2", "is_closed":
        false, "location": {"cross_streets": "Bell St \u0026 Blanchard St", "city":
        "Seattle", "display_address": ["2207 1st Ave", "Belltown", "Seattle, WA 98121"],
        "geo_accuracy": 8.0, "neighborhoods": ["Belltown"], "postal_code": "98121",
        "country_code": "US", "address": ["2207 1st Ave"], "coordinate": {"latitude":
        47.61265, "longitude": -122.34585}, "state_code": "WA"}}'
  recorded_at: Mon, 23 May 2016 03:42:01 GMT
recorded_with: VCR 3.0.3
